    .btn-reflector {
        background-color: #061673;
        height: 2.2rem;
        width: fit-content;
        color: #ffffff;
        font-size: 1rem;
        font-weight: 500;
    }
    
    .btn-outline-reflector {
        border: 1px solid #061673;
        color:#061673;
        background-color: transparent;
        height: 2.2rem;
        width: fit-content;
        font-size: 1rem;
        font-weight: 500;
    }
    
    .icon {
        width: 25px;
        margin-right: 5px;
    }

    .btn {
        border-radius: 5px;
    }
