.user_card_container {
    background-color: #ffffff;
    // height: 330px;
    width: 200px;
    // margin: 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px 0 10px 10px;

    .user_img{
        height: 150px;
    }
    .description {
        font-size: 10px;
    }
}