.floating_profile_info_container {
    position: absolute;
    bottom: 0px;
    top: 30%;
    left: 50px;
    display: flex;
}

.floating_profile_card {
    width: 5rem;
    height: fit-content;
    padding: 10px;
}

.links {
    width: 500px;
    display: flex;
    align-self: flex-end;
}
.h-10 {
    height: 35px;
}

.bottom_container {
    min-height: 300px;
    padding-top: 270px;
    display: flex;
    flex-wrap: wrap;
}