.text-reflector {
  color:#061673;
}

.text-pretty {
  font-variant: all-petite-caps;
}
.bg-reflector {
  background:#061673;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}

.navbar-toggler {
  border: 0;
}

body {
  font-family: 'Inter', sans-serif !important;
  p{
    font-weight: 300;
  }
  p{
    font-weight: 300;
  }
  h1,h2,h3,h4 {
    font-weight: 700;
  }
  h5, h6 {
    font-weight: 400;
  }
}
