.footer_item {
    color: #fff;
    margin: 0;
  }
  .footer_header {
    font-size: 1rem;
    color: #fff;
  text-transform: uppercase;
  }
  
  .social_media_links {
    img {
      width: 1.5rem;
      margin-right: 10px;
    }
  }